*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.todo-app{
    max-height: 90vh;
    width: 75vw;
    border: 2px solid black;
    margin-top: 5vh;
    padding: 1em;
}

.todo-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.todo-title{
    width: 38%;
    height: 2.5em;
}

.todo-description{
    width: 38%;
    height: 2.5em;
}

.todo-add{
    width: 15%;
    height: 2.5em;
}

.todo-switch{
    margin-top: 1.5em;
}

.todo-button, .completed-button{
    width: 25%;
    height: 2.5em;
    margin-right: 1em;
}